{% extends 'base.html' %}
{% block title %}
     游戏账号登录
{% endblock %}
{% block content %}
<div class="container-xl">
    <form method="POST" class="form-signin">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb3 font-weight-normal">
            游戏管理员登录
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control",placeholder="输入用户名") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control",placeholder="输入密码") }}

        <br>

        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

    </form>
</div>
{% endblock %}